$bg-color: #f7ece5;
$base-font-size: 1rem;
$medium-header-size: 1.75rem;
$custom-header-size: 3rem;
$custom-header-bg-color: #7fe5ba;
$highlighter: #2b6eea;
$black: #1b1a1a;
$decorator-blob-green: rgb(94, 212, 30);
$decorator-blob-yellow: rgb(219, 185, 47);
$decorator-blob-red: rgb(250, 31, 31);
$bright-yellow: rgb(255, 255, 15);
$offwhite: #e4e5e5;
